{{template "layout" .}}

{{define "main"}}
    <div class="container">
        <h1>About page {{index .StringMap "test"}}</h1>

        {{if ne (index .StringMap "remote_ip") ""}}
            Your remote IP is {{(index .StringMap "remote_ip")}}
        {{else}}
            Cannot find your remote IP, back to <a href="/">home</a> page to set it!
        {{end}}
    </div>
{{end}}